<script>
    function updateChapter(id,Number, Name,Content) {
        document.getElementById("UpdateID").value = id;
        document.getElementById("UpdateNumberOfChapter").value = Number;
        document.getElementById("UpdateNameOfChapter").value = Name;
        document.getElementById("UpdateContent").value = Content;
    }

    function deleteChapter(id) {
        document.getElementById("DlID").value = id;
    }
    function viewContent(content) {
        document.getElementById("ViewContentChapter").value = content;

    }
    function addChapter(chapter) {
        document.getElementById("NumberOfChapter").value = chapter;

    }

</script>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comics">Truyện</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comics_c">Truyện-chưa duyệt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">Người dùng</a>
                    </li>


                </ul>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-dark my-1 mx-1"><a href="/logout"
                                                                                    style="text-decoration:none">Đăng Xuất</a>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="content">
    <div style="width: 100%" class="mt-3">
    <div style="width: 500px;margin: auto;text-align: center">
        <h1>Thông tin truyện </h1>
        <img style="width: 50px;height: 50px;margin: 20px" src="{{comic.Logo}}"
             class="card-img-top card-img-top mt-2"/>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Tên truyện:</label>
            <div class="col-sm-9">
                <input
                        readonly
                        type="text"
                        class="form-control text-dark"
                        value="{{comic.Name}}"
                />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Tác giả:</label>
            <div class="col-sm-9">
                <input
                        readonly
                        type="text"
                        class="form-control text-dark"
                        value="{{comic.Author}}"
                />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Ngày đăng:</label>
            <div class="col-sm-9">
                <input
                        readonly
                        type="text"
                        class="form-control text-dark"
                        value="{{comic.DateUp}}"
                />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Thể loại:</label>
            <div class="col-sm-9">
                <input
                        readonly
                        type="text"
                        class="form-control text-dark"
                        value="{{#each comic}}{{this.Category}}{{/each}}"
                />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Số lượng yêu thích:</label>
            <div class="col-sm-9">
                <input
                        readonly
                        type="text"
                        class="form-control text-dark"
                        value="{{comic.Like}}"
                />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Trạng thái</label>
            <div class="col-sm-9">
                <input
                        readonly
                        type="text"
                        class="form-control text-dark"
                        value="Đã duyệt"
                />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Mô tả:</label>
            <div class="col-sm-9">
                <textarea readonly class="form-control">{{comic.Description}}</textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Nội dung:</label>
            <div class="col-sm-9">
                <textarea readonly class="form-control">{{comic.Content}}</textarea>
            </div>
        </div>
    </div>
    </div>
</div>
